{% extends 'base.html.twig' %}

{% block title %}Hello ParticipantController!{% endblock %}

{% block body %}

    {% for flashError in app.flashes('success') %}
        <div class="notification is-primary is-light" role="alert">{{ flashError }}</div>
    {% endfor %}

            <h1>Mon profile</h1>

            {{ form_start(profileForm) }}
            {{ form_widget(profileForm) }}
            <button>Enregistrer</button>
            {{ form_end(profileForm) }}

{% endblock %}
