{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{# Pour tester la page d'erreur 403 --> http://localhost/sortir.com/public/_error/403.html #}
{# composer require symfony/twig-pack #}
{# modifier le mode dev vers prod dans le fichier env.local #}
{# Lien vers la doc: https://symfony.com/doc/current/controller/error_pages.html#testing-error-pages #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Oups !! Vous n'êtes pas autorisé à consulter cette page :-(</h1>

    <p>{{ status_code }} {{ status_text }}</p>

    <p>
        <a href="{{ path('main_eventsList') }}"> revenez à la page d'accueil</a>.
    </p>
{% endblock %}