{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{# Pour tester la page d'erreur 404 --> http://localhost/sortir.com/public/_error/404.html #}
{# composer require symfony/twig-pack #}
{# modifier le mode dev vers prod dans le fichier env.local #}
{# Lien vers la doc: https://symfony.com/doc/current/controller/error_pages.html#testing-error-pages #}

 {% block script%}

     <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
     <link rel="stylesheet" type="text/css" href="{{ asset('css/404.css') }}">
 {% endblock %}

{% block body %}

    <div class="wrapper">
        <section class="pedastal">
            <div class="pedastal-block1"></div>
            <div class="pedastal-block2"></div>
            <div class="trapezium">
                <div></div>
                <div></div>
            </div>
        </section>
        <section class="hall">
            <div class="hall-pillar"></div>
            <div class="hall-support"></div>
            <div class="hall-pillar"></div>
            <div class="hall-support"></div>
            <div class="hall-pillar"></div>
            <div class="hall-support"></div>
            <div class="hall-pillar"></div>
            <div class="hall-support"></div>
            <div class="hall-pillar"></div>
            <div class="hall-support"></div>
            <div class="hall-pillar"></div>
            <div class="hall-support"></div>
            <div class="hall-pillar"></div>
            <div class="hall-support"></div>
            <div class="hall-pillar"></div>
            <div class="hall-support"></div>
            <div class="hall-pillar"></div>
            <div class="hall-support"></div>
            <div class="hall-pillar"></div>
        </section>
        <section class="lower-support">
            <div class="lower-support-pillar"></div>
            <div class="ornaments">
                <div></div>
                <div></div>
            </div>
            <div class="lower-support-pillar"></div>
            <div class="ornaments">
                <div></div>
                <div></div>
            </div>
            <div class="lower-support-pillar"></div>
            <div class="ornaments">
                <div></div>
                <div></div>
            </div>
            <div class="lower-support-pillar"></div>
            <div class="ornaments">
                <div></div>
                <div></div>
            </div>
            <div class="lower-support-pillar"></div>
            <div class="ornaments">
                <div></div>
                <div></div>
            </div>
            <div class="lower-support-pillar"></div>
            <div class="ornaments">
                <div></div>
                <div></div>
            </div>
            <div class="lower-support-pillar"></div>
            <div class="ornaments">
                <div></div>
                <div></div>
            </div>
            <div class="lower-support-pillar"></div>
            <div class="ornaments">
                <div></div>
                <div></div>
            </div>
            <div class="lower-support-pillar"></div>
            <div class="ornaments">
                <div></div>
                <div></div>
            </div>
            <div class="lower-support-pillar"></div>
        </section>
        <section class="lower-roof">
            <div></div>
            <div></div>
        </section>
        <section class="upper-support">
            <div class="container">
                <div class="lower-support-pillar"></div>
                <div class="lower-support-pillar"></div>
                <div class="lower-support-pillar"></div>
                <div class="lower-support-pillar"></div>
                <div class="lower-support-pillar"></div>
                <div class="lower-support-pillar"></div>
            </div>
            <div class="ornaments"><div></div><div></div></div>
            <div class="ornaments"><div></div><div></div></div>
            <div class="ornaments"><div></div><div></div></div>
            <div class="ornaments"><div></div><div></div></div>
            <div class="ornaments"><div></div><div></div></div>
            <div class="ornaments"><div></div><div></div></div>
            <div class="ornaments"><div></div><div></div></div>
            <section class="sign"></section>
        </section>
        <section class="upper-roof">
            <div></div>
            <svg width="520px" height="90px">
                <path d="M495.689265,72.9065145 L520,90 L0,90 L24.3069308,72.9091893 L45.9698498,74.0444947 C88.9890231,76.2990341 125.690619,43.2527689 127.945158,0.233595624 L127.687016,0.220066965 L128,0 L392,0 L392.30918,0.217392187 L392,0.233595624 C394.254539,43.2527689 430.956135,76.2990341 473.975308,74.0444947 L495.689265,72.9065145 Z" id="Combined-Shape" fill="#FDBB3B"></path>
            </svg>
            <div></div>
        </section>
        <section class="roof-top">
            <div></div>
            <div></div>
        </section>
        <div class="cloud cloud-01"></div>
        <div class="cloud cloud-02"></div>
        <div class="cloud cloud-03"><div></div></div>
        <div class="sun"><div class="copy">{{ status_code }}</div></div>
    </div>
    <div class="wall">
        <div class="wall-roofing-bottom"></div>
        <div class="wall-roofing-top"></div>
    </div>
    <div class="headline">
        <h1>{{ status_text }}</h1>
        <h2>✋ >Oups !! La page n'a pas été trouvée :-( ✋<br><br></h2>
            <h2>La page demandée n'a pas pu être localisée.<br><br>
                Vérifiez toute faute d'orthographe de l'URL ou <br><a href="{{ path('main_eventsList') }}"> revenez à la page d'accueil</a>. </h2>
    </div>




{% endblock %}